<h1>
    <u>Job Portal 2020</u>
 </h1>
 <table>
   <tr>
     <td> Usename : </td>
     <td>
       <input type="text" name="username" id="username"/>
     </td>
   </tr>
   <tr>
    <td>Password :</td>
     <td>
       <input type="text" name="password" id="password">
     </td>
   </tr>
   <tr><td></td>
     <td><a href="" > Click here to register</a></td>
   </tr>
   <tr>
       <td></td>
     <td> <button name="login" value="login">Login</button></td>
   </tr>
  
 </table>
  <ngx-recaptcha2 #captchaElem
    [siteKey]="siteKey"
    >
  
  </ngx-recaptcha2>